<ba-card>
  <div class="row" style="margin-bottom: 10px;">
    <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary">Hari ini</button>
        <button type="button" class="btn btn-primary">Minggu ini</button>
        <button type="button" class="btn btn-primary">Bulan ini</button>
      </div>

      <div class="btn-group flex-dropdown pull-right" dropdown>
        <button type="button" class="btn btn-primary">{{selectKomoditas}}</button>
        <button type="button" class="btn btn-primary" dropdownToggle addToggleClass="true">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" dropdownMenu>
          <li class="dropdown-item"><a (click)="setRole('Komoditas')">Seluruh Komoditas</a></li>
          <li *ngFor="let item of komoditas" class="dropdown-item"><a (click)="setRole(item.komoditas_id)">{{item.name}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="google-maps"></div>      
    </div>
  </div>
</ba-card>
