<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
  <a class="al-logo clearfix" style="color: white"><span>Portal</span>Harga</a>
  <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>
  
  <div class="user-profile clearfix">
    <div class="dropdown al-user-profile">
      <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
        <img src="{{ photo }}">
      </a>
      <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
        <li class="dropdown-item"><a href ><i class="fa fa-user"></i>Profile</a></li>
        <li class="dropdown-item"><a href (click)="signout()" class="signout"><i class="fa fa-power-off"></i>Sign out</a></li>
      </ul>
    </div>
  </div>
</div>
