<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
  <img src="assets/img/digitalTani_logo_rectangle_700x250.png" class="filter">

  <div class="user-profile clearfix">
    <div class="dropdown al-user-profile">
      <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
        <img src="{{ photo }}">
      </a>
      <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
        <!-- <li class="dropdown-item"><a href ><i class="fa fa-user"></i>Profile</a></li> -->
        <li class="dropdown-item"><b>{{decode.user_data.name}}</b></li>
        <li class="dropdown-item"><small>{{decode.user_data.username}}</small></li>
        <li class="dropdown-item"><a href (click)="signout()"><i class="fa fa-power-off"></i>Sign out</a></li>
      </ul>
    </div>
  </div>
</div>
