<div class="feed-messages-container" *ngIf="type == 'infoHarga'">
  <div class="feed-message" *ngFor="let message of feed" (click)="expandMessage(message)">
    <div class="text-block text-message">
      <div class="message-header">
        <span class="author">{{ message.nama }} {{ message.surname}}</span>
      </div>
      <p style="color: #7fc623">{{ message.namaKomoditas }} Rp. {{ numberWithCommas(message.harga)}}</p>
      <div class="message-content line-clamp" [ngClass]="{'line-clamp-2' : !message.expanded}">
        <span *ngIf="message.preview">{{ message.header }} </span>{{ message.alamat }}
      </div>
      <div [ngClass]="{'hidden': !message.expanded}" class="message-time">
        <div class="post-time">
          {{ formatDate(message.datePost) }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="feed-messages-container" *ngIf="type == 'infoPanen'">
  <div class="feed-message" *ngFor="let message of feed" (click)="expandMessage(message)">
    <div class="text-block text-message">
      <div class="message-header">
        <span class="author">{{ message.nama }} {{ message.surname}}</span>
      </div>
      <p style="color: #7fc623">{{ message.nama_komoditas }} Rp. {{ message.harga }}</p>
      <div class="message-content line-clamp" [ngClass]="{'line-clamp-2' : !message.expanded}">
        <span *ngIf="message.preview">{{ message.header }} </span>{{ message.alamat }}
      </div>
      <div [ngClass]="{'hidden': !message.expanded}" class="message-time">
        <div class="post-time">
          {{ message.datePost }}
        </div>
      </div>
    </div>
  </div>
</div>

